@media (max-width: 1440px) {

  .gallery__bricks-item {
    width: calc(50% - 10px);
    height: 380px;
  }
}

@media (max-width: 1240px) {
  .room__card {
    max-width: 500px;
  }
}

@media (max-width: 1040px) {
  .room__card {
    max-width: 90%
  }
}

@media (max-width: 1000px) {

  .excursions__slider {
    max-width: 50%;
  }
}

@media (max-width: 900px) {

  .header {
    background-position: left;
  }

  .nav__item-link {
    padding: 0;
    font-size: 12px;
  }

  .excursions__card {
    flex-wrap: wrap;
    padding: 15px;
  }

  .excursions__card-text {
    margin-right: 0;
    margin-bottom: 40px;
    max-width: 100%;
  }

  .excursions__slider {
    max-width: 100%;
    align-self: center;
  }
}


@media (max-width: 700px) {

  .header__inner {
    padding: 10px 0;
  }

  .nav__list {
    flex-direction: column;
    position: absolute;
    width: 50%;
    top: 45px;
    left: -50%;
    align-items: center;
    transition: .5s ease;
    background-color: rgba(45, 43, 44, 0.99);
    padding-top: 20px;
  }

  .nav__list::after {
    content: "";
    background-image: url(../img/close__icon.svg);
    position: absolute;
    width: 30px;
    height: 30px;
    right: 5px;
    top: 5px;
  }

  .nav__list-adaptive {
    display: flex;
    left: 0px;
  }

  .nav__item+.nav__item {
    margin-left: 0;
  }

  .nav__item {
    margin-bottom: 25px;
  }

  .nav__item-link {
    padding: 12px;
    border: none;
  }

  .nav__item-link:hover {
    border: 0px solid #000;
  }

  .burger {
    display: block;
    height: 100%;
    flex-grow: 1;
    z-index: 1;
    flex-basis: 0;
  }

  .social__link+.social__link {
    margin-left: 5px;
  }

  .social {
    flex-grow: 1;
    flex-basis: 0;
  }

  .excursions__slider {
    width: 100%;
  }

  .rooms__inner :last-child {
    margin-bottom: 0;
  }

  .room__card {
    max-width: 100%;
    padding: 0;
  }

  .gallery__bricks-item {
    width: 100%;
    height: 340px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 5px;
  }

  .header__inner {
    padding: 0;
  }

  .burger,
  .social {
    flex-grow: 0;
  }

  .nav__list {
    top: 35px;
  }

  .sliderSmall {
    display: none;
  }

  .gallery__bricks-item {
    width: 100%;
    height: 280px;
  }
}