@media (max-width: 1000px) {
  .excursions__card {
    /* flex-direction: column; */
  }



  .excursions__slider {
    max-width: 400px;
    align-self: center;
  }
}

@media (max-width: 850px) {
  .header {
    background-position: left;
  }

  .nav__item-link {
    padding: 0;
    font-size: 12px;
  }

  .excursions__card {
    flex-wrap: wrap;
    padding: 15px;
  }

  .excursions__card-text {
    margin-right: 0;
    margin-bottom: 40px;
    max-width: 100%;
  }

  .excursions__slider {
    max-width: 100%;
    align-self: center;
  }
}


@media (max-width: 700px) {

  .header__inner {
    padding: 10px 0;
  }

  .nav__list {
    flex-direction: column;
    position: absolute;
    width: 50%;
    top: 0px;
    left: -50%;
    align-items: center;
    transition: .5s ease;
    background-color: rgba(45, 43, 44, 0.99);
    padding-top: 20px;

  }

  .nav__list-adaptive {
    display: flex;
    left: 0px;
  }

  .nav__item+.nav__item {
    margin-left: 0;
  }

  .nav__item {
    margin-bottom: 25px;
  }

  .nav__item-link {
    padding: 12px;
    border: none;
  }

  .nav__item-link:hover {
    border: 0px solid #000;
  }

  .burger {
    display: block;
    height: 100%;
    flex-grow: 1;
    z-index: 1;
    flex-basis: 0;
  }

  .social__link+.social__link {
    margin-left: 5px;
  }

  .social {
    flex-grow: 1;
    flex-basis: 0;
  }

  .excursions__slider {
    width: 100%;
  }

  @media (max-width: 500px) {
    .container {
      padding: 5px;
    }

    .header__inner {
      padding: 0;
    }

    .burger,
    .social {
      flex-grow: 0;
    }
  }


}