.in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

section {
  padding: 70px 0;
}

.container {
  margin: 0 auto;
  max-width: 1420px;
  padding: 0 10px;
}

.header {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  color: aliceblue;
}

.header__inner {
  padding: 15px 0;
  background-color: rgb(0, 179, 255);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  width: 35px;
  display: none;
}

.nav__list {
  display: flex;
  text-transform: uppercase;
}

.nav__item+.nav__item {
  margin-left: 30px;
}

.nav__item-link {
  padding: 0 3px 5px;
  border-bottom: 1px solid transparent;
  transition: all .5s;
}

.nav__item-link:hover {
  border-bottom: 2px solid aliceblue;
}

.social {
  display: flex;
  align-items: center;
  justify-content: end;
}

.social__link+.social__link {
  margin-left: 15px;
}


/*======Excursions=====*/

.excursions {
  background-image: url(../img/excursions-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.excursions__card {
  display: flex;
  min-width: 0;
  justify-content: space-between;
  background-color: rgba(26, 25, 26, 0.71);
  padding: 30px;
  color: aliceblue;
  margin-bottom: 50px;
  box-shadow: 4px 9px 10px 3px rgba(0, 0, 0, 0.48);
  border-radius: 25px;
  position: relative;
}

.excursions__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.excursions__card-title {
  margin-bottom: 20px;
}

.excursions__card-text {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  max-width: 50%;
}

.excursions__slider {
  max-width: 600px;
  z-index: 1;
  position: relative;
}

.excursions__slider::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(245, 40, 145, 0);
  position: absolute;
  top: 0;
  z-index: 1000;
}

.excursions__slider-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 25px;
}


/*======Slick=====*/

.slick-track {
  display: flex;
  min-width: 200px;
}

.slick-list {
  overflow: hidden;
}


/*======Hotel=====*/
.hotel {
  background-image: url(../img/hotel.jpg);
}

.hotel_inner {}

.hotel__title {
  text-align: center;
}

.hotel__subtitle {
  text-align: center;
  margin-bottom: 30px;
}

.hotel__rooms {
  background-color: rgba(169, 110, 43, 0.8);

  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hotel__room {
  max-width: 600px;
  padding: 10px;
  margin-bottom: 20px;


}

.room__title {
  margin-bottom: 7px;
}

.room__descr {
  margin-bottom: 10px;
}

.room__facilities {
  display: flex;
}

.room__facilities-img {
  margin-right: 10px;
  margin-bottom: 10px;
}

.room__slider {
  max-width: 600px;
  position: relative;
  margin-bottom: 10px;
}

.room__slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
}

.room__slider .slick-arrow.slick-prev {
  left: 10px;
}

.room__slider .slick-arrow.slick-next {
  right: 10px;
}

.sliderSmallOne .slick-slide,
.sliderSmallTwo .slick-slide,
.sliderSmallThree .slick-slide,
.sliderSmallFour .slick-slide {
  opacity: .5;
}

.sliderSmallOne .slick-center,
.sliderSmallTwo .slick-center,
.sliderSmallThree .slick-center,
.sliderSmallFour .slick-center {
  opacity: 1;
}

/*======Gallery=====*/

.gallery__title {
  text-align: center;
  margin-bottom: 50px;
}

.gallery__subtitle {
  text-align: center;
  margin-bottom: 30px;
}

.gallery__categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.gallery__caegories-link {
  background-color: #eee;
  padding: 8px 20px;
  margin: 5px 0;
  letter-spacing: 1px;
  cursor: pointer;
  margin-right: 10px;
}

.gallery__caegories-link.active {
  background-color: #03a9f4;
  color: #fff;
  transition: all .5s;
}

.gallery__bricks {
  display: flex;
  flex-wrap: wrap;
}

.gallery__bricks-item {
  position: relative;
  width: calc(1400px / 3 - 10px);
  height: 300px;
  margin: 5px;
}

.gallery__bricks-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}