.in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  padding: 70px 0;
}

.container {
  margin: 0 auto;
  max-width: 1420px;
  padding: 0 10px;
}

.header {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  color: aliceblue;
}

.header__inner {
  padding: 15px 0;
  background-color: rgba(0, 179, 255, 0.8);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  width: 35px;
  display: none;
}

.nav__list {
  display: flex;
  text-transform: uppercase;
}

.nav__item+.nav__item {
  margin-left: 30px;
}


.nav__item-link {
  padding: 0 3px 5px;
  border-bottom: 1px solid transparent;
  transition: all .5s;
}

.nav__item-link:hover {
  border-bottom: 2px solid aliceblue;
}

.social {
  display: flex;
  align-items: center;
  justify-content: end;
}

.social__link+.social__link {
  margin-left: 15px;
}


/*======Excursions=====*/

.excursions {
  background-image: url(../img/excursions-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.excursions__card {
  display: flex;
  min-width: 0;
  justify-content: space-between;
  background-color: rgba(26, 25, 26, 0.71);
  padding: 30px;
  color: aliceblue;
  margin-bottom: 50px;
  box-shadow: 4px 9px 10px 3px rgba(0, 0, 0, 0.48);
  border-radius: 25px;
}

.excursions__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.excursions__card-title {
  margin-bottom: 20px;
}

.excursions__card-text {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  max-width: 50%;
}

.excursions__slider {
  max-width: 600px;
  z-index: 10;
  background-color: #f00;
}

.excursions__slider-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 25px;
  z-index: 1;
}


/*======Slick=====*/

.slick-track {
  display: flex;
  min-width: 300px;
}

.slick-list {
  overflow: hidden;
}