section {
  padding: 70px 0;
}

.container {
  margin: 0 auto;
  max-width: 1420px;
  padding: 0 10px;
}

.header {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  color: aliceblue;
}

.header__inner {
  padding: 15px 0;
  background-color: rgba(0, 179, 255, 0.4);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  width: 35px;
  display: none;
}

.nav__list {
  display: flex;
  text-transform: uppercase;
}

.nav__item+.nav__item {
  margin-left: 30px;
}


.nav__item-link {
  padding: 0 3px 5px;
  border-bottom: 1px solid transparent;
  transition: all .5s;
}

.nav__item-link:hover {
  border-bottom: 2px solid aliceblue;
}

.social {
  display: flex;
  align-items: center;
  justify-content: end;
}

.social__link+.social__link {
  margin-left: 15px;
}


/*====== Excursions=====*/
.excursions {
  background-image: url(../img/excursions-bg.jpg);
}

.excursions__heading {
  text-align: center;
  margin-bottom: 50px;
}

.excursions__card {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 30px;
  background-color: rgba(108, 102, 105, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
}

.excursions__text {
  max-width: 600px;
}

.excursions__title {
  margin-bottom: 30px;
}

/*====== Slider =====*/

.swiper {
  min-width: 500px;
  margin: 0;

}

.swiper-wrapper {
  max-width: 500px;
}