section {
  padding: 70px 0;
}

.container {
  margin: 0 auto;
  max-width: 1420px;
  padding: 0 10px;
}

.header {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  color: aliceblue;
}

.header__inner {
  padding: 15px 0;
  background-color: rgba(0, 179, 255, 0.4);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  width: 35px;
  display: none;
}

.nav__list {
  display: flex;
  text-transform: uppercase;
}

.nav__item+.nav__item {
  margin-left: 30px;
}


.nav__item-link {
  padding: 0 3px 5px;
  border-bottom: 1px solid transparent;
  transition: all .5s;
}

.nav__item-link:hover {
  border-bottom: 2px solid aliceblue;
}

.social {
  display: flex;
  align-items: center;
  justify-content: end;
}

.social__link+.social__link {
  margin-left: 15px;
}


/*====== Excursionsc=====*/

.excursion__card {
  border: 3px solid rgba(0, 179, 255, 0.4);
  padding: 10px;
  border-radius: 3px;
}

.excursions__title {
  margin-bottom: 50px;
}

.excursions__text {
  margin-bottom: 70px;
}

/*====== Slider =====*/

.swiper-container {
  overflow: hidden;
  max-width: 500px;
  height: 400px;
}

.swiper-slide .excusrions__img {
  /* object-fit: cover; */
  width: 100%;
}

.excursions__slide {}